.DS_Store
fodder/.DS_Store
fodder/figures/.DS_Store
fodder/made_for_dissertation/cumulative_read_lengths/.RData
fodder/made_for_dissertation/cumulative_read_lengths/.Rhistory
individual_chapters/drafts_w_comments/~$slin_Dissertation_Chapters_1_2_AS_SEKJ.docx
individual_chapters/~$apter_4-Sex_markers.docx
