.DS_Store
fodder/.DS_Store
fodder/figures/.DS_Store
fodder/made_for_dissertation/cumulative_read_lengths/.RData
fodder/made_for_dissertation/cumulative_read_lengths/.Rhistory
individual_chapters/drafts_w_comments/~$slin_Dissertation_Chapters_1_2_AS_SEKJ.docx
individual_chapters/~$apter_4-Sex_markers.docx
individual_chapters/~$fodder.docx
tables_and_figures/~$Tables.xlsx
reanalyzed/sex_marker/depth_analysis/*no0.sort
reanalyzed/sex_marker/depth_analysis/*lzma
reanalyzed/sex_marker/depth_analysis/*gz
reanalyzed/sex_marker/kmer_analysis/slurm/*
reanalyzed/sex_marker/kmer_analysis/*male.sig
reanalyzed/sex_marker/depth_analysis/tmp*
reanalyzed/sex_marker/kmer_analysis/tmp*
reanalyzed/sex_marker/kmer_analysis/*.histo
reanalyzed/sex_marker/kmer_analysis/*.fasta
reanalyzed/sex_marker/kmer_analysis/sex_abund.ratios
reanalyzed/sex_marker/depth_analysis/*Ref.depth*
reanalyzed/sex_marker/kmer_analysis/contigs.match=common5.fa
reanalyzed/sex_marker/kmer_analysis/merged_bams_maleRef/*
reanalyzed/sex_marker/SexFindR/step0-mapping/slurm
reanalyzed/sex_marker/SexFindR/step0-mapping/*alignments*
reanalyzed/sex_marker/SexFindR/step0-variantcalling/slurm
reanalyzed/sex_marker/SexFindR/step0-variantcalling/femaleRef/CHRR_integrated.fa
reanalyzed/sex_marker/SexFindR/step0-variantcalling/maleRef/CHRR_integrated.fa
reanalyzed/sex_marker/SexFindR/step1-difcover/DifCover
reanalyzed/sex_marker/SexFindR/step1-difcover/slurm
reanalyzed/sex_marker/SexFindR/step1-difcover/*aleRef/RAD_analysis/a?/sample1_sample2.ratio_per_w_CC0_a10_A219_b10_B240_v1000_l500
reanalyzed/sex_marker/SexFindR/step1-difcover/*aleRef/RAD_analysis/a?/sample[1:2].bedcov.Vk1s_sorted
reanalyzed/sex_marker/SexFindR/step1-difcover/*aleRef/RAD_analysis/a?/sample1_sample2.unionbedcv
reanalyzed/sex_marker/SexFindR/step1-difcover/*aleRef/RAD_analysis/a?/outputs/CHRR_integrated_?.fa
reanalyzed/sex_marker/SexFindR/step0-mapping/maleRef_stats/maleRef_aligned_bam_file_sizes.list
reanalyzed/sex_marker/SexFindR/step0-mapping/maleRef_stats/maleRef_aligned_bam_top2.AC
reanalyzed/sex_marker/SexFindR/step0-variantcalling/*maleRef/*maleRef_RAD-Pst1_24F_24M*.vcf
reanalyzed/sex_marker/SexFindR/step0-variantcalling/*maleRef/CHRR_integrated.fa
reanalyzed/sex_marker/SexFindR/step0-variantcalling/*maleRef/*maleRef_RAD-Pst1_24F_24M.filtered_PASS.biallelic.vcf.gz
reanalyzed/sex_marker/SexFindR/step2-snpdensity/individual_SNP_density/*maleRef/individual_vcfs/*
reanalyzed/sex_marker/SexFindR/step2-snpdensity/individual_SNP_density/*maleRef/*.vcf
reanalyzed/sex_marker/SexFindR/step2-snpdensity/individual_SNP_density/*maleRef/*.vcf.gz
reanalyzed/sex_marker/SexFindR/step2-snpdensity/individual_SNP_density/*maleRef/*.vcf.gz.tbi
reanalyzed/sex_marker/SexFindR/step2-snpdensity/individual_SNP_density/*maleRef/slurm/*
reanalyzed/sex_marker/SexFindR/step2-snpdensity/individual_SNP_density/*maleRef/manual_analysis/*.txt
reanalyzed/sex_marker/SexFindR/step2-kmersgwas/kmersGWAS
reanalyzed/sex_marker/SexFindR/step2-kmersgwas/data
reanalyzed/sex_marker/SexFindR/step2-kmersgwas/ABYSS_out
reanalyzed/sex_marker/SexFindR/step2-kmersgwas/blast_out
reanalyzed/sex_marker/SexFindR/step2-kmersgwas/plink_out
reanalyzed/sex_marker/SexFindR/step2-kmersgwas/slurm
reanalyzed/sex_marker/SexFindR/step2-kmersgwas/blast_out/pval_1e-*/*maleRef/CHRR_integrated*
