.DS_Store
fodder/.DS_Store
fodder/figures/.DS_Store
fodder/made_for_dissertation/cumulative_read_lengths/.RData
fodder/made_for_dissertation/cumulative_read_lengths/.Rhistory
individual_chapters/drafts_w_comments/~$slin_Dissertation_Chapters_1_2_AS_SEKJ.docx
individual_chapters/~$apter_4-Sex_markers.docx
tables_and_figures/~$Tables.xlsx
reanalyzed/sex_marker/depth_analysis/*no0.sort
reanalyzed/sex_marker/depth_analysis/*lzma
reanalyzed/sex_marker/depth_analysis/*gz
reanalyzed/sex_marker/kmer_analysis/slurm/*
reanalyzed/sex_marker/kmer_analysis/*male.sig
reanalyzed/sex_marker/depth_analysis/tmp*
reanalyzed/sex_marker/kmer_analysis/tmp*
reanalyzed/sex_marker/kmer_analysis/*.histo
reanalyzed/sex_marker/kmer_analysis/*.fasta
reanalyzed/sex_marker/kmer_analysis/sex_abund.ratios
reanalyzed/sex_marker/depth_analysis/*Ref.depth*
